.navbar{
    background-color: green;
    height: 80px;
    width: 100%;
    display: flex;
    padding: 20px;
}

.title{
    height: 38px;
    width: 300px;
    background-color: green;
    text-align: center;
    color: white;
    border-radius: 7px;
    /* padding: 15px; */
    margin-left: 300px;
    margin: 0 auto;

}

.pagination{
    margin-top: 40px;
    margin-left: 500px;
    padding: 10px;
}

.second-nav ul.nouveaute {
    display: flex;
    gap: 30px;
    color: white;
    list-style-type: none; /* Pour supprimer les puces de la liste */
  }
  
  .second-nav ul.nouveaute li a {
    text-decoration: none; /* Pour enlever le soulignement des liens */
    color: white; /* Pour définir la couleur du texte en blanc */
  }
  .mirac {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
  
  .input-containers {
    flex: 1; /* Pour que le champ de recherche occupe tout l'espace disponible */
  }
  
  .edite-input4 {
    width: 100%; /* Pour que le champ de recherche prenne toute la largeur disponible */
    padding: 8px; /* Ajoutez un padding pour un meilleur espacement */
  }
  
  .icon-containers {
    display: flex;
    align-items: center; /* Pour aligner les éléments verticalement */
  }
    
